{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="mkdf-content">
  <div class="mkdf-content-inner">
    <div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom"
      style="height: 90px;background-color: #fbf9f9" data-height="90">
      <div class="mkdf-title-wrapper" style="height: 90px">
        <div class="mkdf-title-inner">
          <div class="mkdf-grid">
            <h4 class="mkdf-page-title entry-title">My Account</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="mkdf-container mkdf-default-page-template">
      <div class="mkdf-container-inner clearfix">
        <div class="mkdf-grid-row ">
          <div class="mkdf-page-content-holder mkdf-grid-col-12">
            <div class="woocommerce">
              <div class="woocommerce-notices-wrapper"></div>
              <form method="post" class="woocommerce-ResetPassword lost_reset_password">
                <p>Lost your password? Please enter your username or email address. You will receive a link to
                  create a new password via email.</p>
                <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                  <label for="user_login">Username or email</label>
                  <input class="woocommerce-Input woocommerce-Input--text input-text" type="text"
                    name="user_login" id="user_login" autocomplete="username">
                </p>
                <div class="clear"></div>
                <p class="woocommerce-form-row form-row">
                  <input type="hidden" name="wc_reset_password" value="true">
                  <button type="submit" class="woocommerce-Button button" value="Reset password">Reset
                    password</button>
                </p>
                <input type="hidden" id="woocommerce-lost-password-nonce" name="woocommerce-lost-password-nonce"
                  value="340da54941"><input type="hidden" name="_wp_http_referer"
                  value="/my-account/lost-password/">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}






