{% load static %}

<div class="mkdf-subscribe-popup-holder mkdf-prevent-enable mkdf-sp-prevent-session">
  <div class="mkdf-sp-table">
    <div class="mkdf-sp-table-cell">
      <div class="mkdf-sp-inner">
        <div class="mkdf-sp-content-container">
          <a class="mkdf-sp-close" href="javascript:void(0)">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="24px" height="24px" viewbox="0 0 29 29" enable-background="new 0 0 29 29" xml:space="preserve">
              <line fill="none" stroke="currentColor" stroke-miterlimit="10" x1="3.893" y1="3.895" x2="25.105"
                y2="25.107"></line>
              <line fill="none" stroke="currentColor" stroke-miterlimit="10" x1="3.893" y1="3.895" x2="25.105"
                y2="25.107"></line>
              <line fill="none" stroke="currentColor" stroke-miterlimit="10" x1="3.894" y1="25.106" x2="25.107"
                y2="3.894"></line>
              <line fill="none" stroke="currentColor" stroke-miterlimit="10" x1="3.894" y1="25.106" x2="25.107"
                y2="3.894"></line>
            </svg> </a>
          <div class="mkdf-sp-subtitle">subscribe</div>
          <h2 class="mkdf-sp-title">Stay in touch</h2>
          <div role="form" class="wpcf7" id="wpcf7-f1852-o1" lang="en-US" dir="ltr">
            <div class="screen-reader-response">
              <p role="status" aria-live="polite" aria-atomic="true"></p>
              <ul></ul>
            </div>
            <form action="/grid-home/#wpcf7-f1852-o1" method="post" class="wpcf7-form init" novalidate="novalidate"
              data-status="init">
              <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="1852">
                <input type="hidden" name="_wpcf7_version" value="5.5.3">
                <input type="hidden" name="_wpcf7_locale" value="en_US">
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1852-o1">
                <input type="hidden" name="_wpcf7_container_post" value="0">
                <input type="hidden" name="_wpcf7_posted_data_hash" value="">
              </div>
              <div class="mkdf-custom-contact2-form">
                <div class="mkdf-two-columns-form-with-space mkdf-tiny-space">
                  <div class="mkdf-column-left mkdf-wpcf7-no-margin">
                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value=""
                        size="40"
                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                        aria-required="true" aria-invalid="false" placeholder="E-mail address"></span>
                  </div>
                  <div class="mkdf-column-right">
                    <button type="submit" class="mkdf-btn mkdf-btn-medium mkdf-btn-solid">Send</button>
                  </div>
                </div>
              </div>
              <div class="wpcf7-response-output" aria-hidden="true"></div>
            </form>
          </div>
          <div class="mkdf-sp-form-description">*At vero eos et accusamus et iusto odio dignissimos </div>
          <div class="mkdf-sp-prevent">
            <div class="mkdf-sp-prevent-inner">
              <span class="mkdf-sp-prevent-input" data-value="no">
                <label class="mkdf-sp-prevent-label">
                  <input name="mkdf-sp-prevent-input" value="1" id="mkdf-sp-prevent-input" type="checkbox">
                  Prevent This Pop-up </label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>