{% load static %}

<div class="mkdf-top-bar">
  <div class="mkdf-vertical-align-containers">
    <div class="mkdf-position-left">
      <div class="mkdf-position-left-inner">
        <div id="text-14" class="widget widget_text mkdf-top-bar-widget">
          <div class="textwidget">
            <div class="mkdf-dark-link-holder" style="font-style: italic; font-size: 16px; color: #cecece;"><a
                href="{% static 'cdn-cgi/l/email-protection#93f1faf2f4fafce7e7fae7fbf6fef6d3f4fef2faffbdf0fcfe' %}"><span
                  class="__cf_email__"
                  data-cfemail="f193989096989e8585988599949c94b1969c90989ddf929e9c">[email&#160;protected]</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mkdf-position-center">
      <div class="mkdf-position-center-inner">
        <div id="text-13" class="widget widget_text mkdf-top-bar-widget">
          <div class="textwidget">
            <div class="mkdf-dark-link-holder" style="font-style: italic; font-size: 16px; color: #cecece;">Free
              shipping on international orders of $150+</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mkdf-position-right">
      <div class="mkdf-position-right-inner">
        <div class="widget mkdf-login-register-widget mkdf-user-not-logged-in"><a href="#"
            class="mkdf-modal-opener mkdf-login-opener" data-modal="login">Log In</a></div>
      </div>
    </div>
  </div>
</div>