{% load static %}
<script data-cfasync="false"
  src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
<script type="text/javascript">
  window.RS_MODULES = window.RS_MODULES || {};
  window.RS_MODULES.modules = window.RS_MODULES.modules || {};
  window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
  window.RS_MODULES.defered = false;
  window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
  window.RS_MODULES.type = "compiled";
</script>
<div class="rbt-toolbar" data-theme="Biagiotti" data-featured="" data-button-position="31%"
  data-button-horizontal="right" data-button-alt="no"></div>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTQ2BTD" height="0" width="0"
    style="display: none; visibility: hidden" aria-hidden="true"></iframe></noscript>

<div id="yith-quick-view-modal">
  <div class="yith-quick-view-overlay"></div>
  <div class="yith-wcqv-wrapper">
    <div class="yith-wcqv-main">
      <div class="yith-wcqv-head">
        <a href="#" id="yith-quick-view-close" class="yith-wcqv-close"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="23px" viewbox="0 0 23 23"
            enable-background="new 0 0 23 23" xml:space="preserve">
            <polygon fill="#010101"
              points="20.207,3.188 19.5,2.48 11.383,10.597 3.268,2.481 2.561,3.188 10.676,11.304 2.561,19.418 3.268,20.125 11.383,12.011 19.498,20.127 20.205,19.42 12.09,11.304 ">
            </polygon>
          </svg></a>
      </div>
      <div id="yith-quick-view-content" class="woocommerce single-product"></div>
    </div>
  </div>
</div>
<script type="text/html" id="wpb-modifications"></script>
<script type="text/javascript">
  (function () {
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, "woocommerce-js");
    document.body.className = c;
  })();
</script>